<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ url_for('admin_bp.dashboard') }}">
            <i class="fas fa-gamepad me-2"></i>宝可梦管理后台
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('admin_bp.dashboard') }}">仪表盘</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('admin_bp.users') }}">用户管理</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('admin_bp.shops') }}">商店管理</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('admin_bp.logout') }}"><i class="fas fa-sign-out-alt"></i> 登出</a>
                </li>
            </ul>
        </div>
    </div>
</nav>